{% extends 'base.html.twig' %}

{% block title %}Hello GoogleController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock stylesheets %}


{% block body %}
{# <style>
    .example-wrapper { margin: 1em auto; margin-top: 200px; text-align: center; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    #case {width: 600px ; height: 35px ; border-radius: 20px}
</style>

<div class="example-wrapper">
    <img  src="{{asset('google.png')}}" alt="google"/><br/>
    <i class="fa fa-search"></i>
    <input type="text" placeholder="Effectuer une recherche sur google ou saisissez une URL" id="case">
</div> #}

 {# icones #}
    <div class="row mt-2" >
        <div class="col-sm-9"></div>
        <div class="col-sm-3 text-center">
            <a href="https://support.google.com/mail/answer/8494?co=GENIE.Platform%3DDesktop&hl=fr">Gmail</a>
            <a href="https://www.google.com/search?q=images+google&rlz=1C1AVFC_enFR904FR904&source=lnms&tbm=isch&sa=X&ved=2ahUKEwi_vO7qg8_qAhVuAGMBHYI6ALEQ_AUoAXoECA4QAw&biw=1366&bih=647">Images</a>
            <button type="button" class="btn"><i class="fa fa-th fa-1.5x" aria-hidden="true"></i></button>
            <a href="{{path('new')}}" class="btn btn-primary btn-sm">
            <i class="glyphicon glyphicon-plus"></i> Inscription
            </a>
            {#{{ path('new', {'controller': App\Controller\GoogleController::new}) }} 
            {{ "Inscrivez-vous" | trans }}#}

    
        </div>
    </div>

<div class="container">

    <div class="row" style="margin-top: 100px">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center">
            <img  src="{{asset('google.png')}}" alt="google"/>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="border-top-left-radius: 2rem; 
                    border-bottom-left-radius: 2rem; background-color:#fff; border-right: 0">
                    <i class="fa fa-search"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Effectuer une recherche sur google ou saisissez une URL"
                 style="border-left: 0; border-right: 0">
                 <div class="input-group-append">
                    <span class="input-group-text" style="border-top-right-radius: 2rem; 
                    border-bottom-right-radius: 2rem; border-left: 0; background-color:#fff;">
                        <i class="fa fa-microphone" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

    {# boutons #}
    <div class="row mt-4" >
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center">
            <button type="button" class="btn btn-light">Google Search</button>
            <button type="button" class="btn btn-light">I'm Feeling Lucky</button>
            <p class="mt-3">Google offered in: <a href="#">Français</a></p>     
        </div>
        <div class="col-sm-2"></div>

    </div>
</div>
{% endblock %}
