{% extends 'base.html.twig' %}
{% block title %}Hello les inscrits!{% endblock %}

{% block body %}
{#<div class="example-wrapper"> </div>#}  

    <div class="row mt-2" >
            <div class="col-sm-10">
            
                <h1>Liste des inscrits</h1>
            
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Adresse</th>
                        <th>Email</th>
                    
                    </tr>
                    </thead>
                    <tbody >
                        {% for inscrit in listeInscrits %}
                        <tr>
                            <td>{{ inscrit.nom}}</td>
                            <td>{{ inscrit.prenom}}</td>
                            <td>{{ inscrit.adresse}}</td>
                            <td>{{ inscrit.email}}</td>
                            <td>
                                <div class="btn-group mr-2" role="group">
                                    <a role="button" class="btn btn-danger" title="Supprimer"
                                       href="{{path('delete',{id:inscrit.id})}}">
                                        
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-2 text-center">
                <a href="{{path('index')}}" class="btn btn-primary btn-sm">
                <i class="glyphicon glyphicon-plus"></i> Retour
                </a>
                

        
            </div>

    </div>
{% endblock %}


    
